<app-navbar></app-navbar>
<!-- <button mat-raised-button (click)="loader.show()">
  Show Loader
</button>

<button mat-raised-button (click)="loader.hide()">
  Hide Loader
</button> -->

<!-- <mat-progress-spinner [mode]="'indeterminate'" *ngIf="loading$ | async"></mat-progress-spinner> -->

<!-- <div>
  <button [disabled]="loading" (click)="launchRequests()">Launch requests</button>
</div>
<ng-container *ngIf="loading">
  <app-circle-spinner></app-circle-spinner>
</ng-container>
<div *ngIf="loading" style="color:red">pretend this is loading indicator</div> -->
<!-- <div *ngFor="let item of links">{{item}}</div>

<mat-slider min="1" max="100" step="1" value="50"></mat-slider>

 -->
 <!-- <mat-progress-spinner [mode]="'indeterminate'" *ngIf="(loading$ | async)"></mat-progress-spinner> -->
 <div class="wrapper">
  <h1> Angular Spinner Interceptor
    <button (click)="triggerApiCall()">Trigger API Call</button>

    DEMO</h1>
</div>

<spinner></spinner>
